<!DOCTYPE html>
<html ng-app="app" id="overrides">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Journal</title>
    <link href='https://fonts.googleapis.com/css?family=Jura:500,600' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/md5")
    @Scripts.Render("~/bundles/fileSaver")

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"44e9c293-4a20-40d5-bbcf-12504cf8c63d"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <header>
        <div class="wrapper">
            <nav>
                <ul class="sf-menu sf-js-enabled">
                    <li>@Html.ActionLink("My Journal", "Index", "Home")</li>
                    <li>@Html.ActionLink("Your Albums", "Index", "Albums")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
            <div id="logo">
                <a href="http://abc.net.au/">My Journal Logo</a>
            </div>
            <div class="enquire_btn">@Html.ActionLink("Contact", "Contact", "Home")</div>
        </div>
    </header>
    <div class="sitecontainer body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Journal</p>
        </footer>
    </div>

@*@Scripts.Render("~/bundles/bootstrap")*@
@RenderSection("scripts", required: false)

<script type="text/javascript" src="~/app/services/albumprovider.js"></script>
<script type="text/javascript" src="~/app/app.js"></script>
<script type="text/javascript" src="~/app/Controllers/albumuploadcontroller.js"></script>
<script type="text/javascript" src="~/app/Controllers/albumlistcontroller.js"></script>
<script type="text/javascript" src="~/app/Controllers/albumviewcontroller.js"></script>
</body>
</html>
